@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&family=Poppins:wght@100;400;500;800&display=swap');

/*Estilo de la cabecera y Menu de navegacion*/

.cabeceraPrincipal {
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    padding: 10px;
}

.menuPrincipal {
    display: flex;
    align-items: center;
}

.menuPrincipal a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 49px;
    justify-content: flex-end;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.logoWh {
    margin-left: 80px;
}

.menuPrincipal a:hover {
    color: #BE0F30; 
    border-bottom: 2px solid #BE0F30; 
    transition: .4s;
}

button {
    background: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    width: 106px;
    height: 40px;
    border: none;
    box-shadow: none;
    padding: 0;
    position: relative;
}

.fa-user {
    margin-right: 5px;
    position: absolute;
    left: -14px;
}

/* Estilos del contenido de la pagina */

.eBike{
    position: relative; 
}

.eBike img, .info2 img, .info3 img{
    width: 100%;
}

.eBike h2{
    position: absolute;
    top: 65px; /* Ajusta según sea necesario para la posición vertical */
    left: 110px; /* Ajusta según sea necesario para la posición horizontal */
    color: #FFFFFF; 
    font-family: 'Anek Latin', sans-serif;
    margin: 0;
    font-weight: 700;
    font-size: 100px;
    /*Difuminado del titulo*/
    background: rgba(70, 67, 67, 0.54);
    border-radius: 10px;
}

.information{
    font-family: 'Anek Latin', sans-serif;
}

.info1{
    background-color: #282828;
    display: flex;
	justify-content: space-between;
    flex-direction: column;
}

.info1 h3{
    color: #FFFFFF;
    text-align: center; 
    padding: 10px;
}

.infoCard {
    text-align: center;
    width: 80%;
    margin: 10px auto; 
    background-color: #333; 
    border-radius: 10px; 
    padding: 20px; 
}

.infoCard h4{
    color: #C5A76A;
    font-weight: 600;
}

.infoCard p{
    color: #FFFFFF;
    font-weight: 100;
}

.info2{
    position: relative;
}

.info2 p{
    position: absolute;
    top: 40px;
    left: 110px;
    color: #282828; 
    font-weight: 800;
    font-size: 50px;
    text-align: left;
    width: 300px;
}

.info4{
    background-color: #C5A76A;
    align-items: center;
    display: flex;
	justify-content: space-between;
}

.info4 section{
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info4 section h3{
	align-items: center;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	padding: 1em 0;
}

.info4 section p{
	align-items: center;
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	padding: 1em 0;
}


/*Estilos del Pie de Pagina*/

.piePag {
    background: black;
    display: flex;
    height: 250px;
    align-items: center;
}

.piePag a{
    display: flex;
    margin-left: 150px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    
}

.piePag img{
    height: 100px;
    margin-left: 80px;
}

.piePag h4{
    color: #FFFFFF;
    display: flex;
    margin-left: 150px;
    font-family: 'Poppins', sans-serif;
}

.piePag i{
    display: flex;
    padding-bottom: 6px;
    padding-right: 10px;
    margin-left: 0px;
}

