@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&family=Poppins:wght@100;400;500;800&display=swap');

/*Estilo de la cabecera y Menu de navegacion*/

*{
    margin: 0;
}

.cabeceraPrincipal {
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    padding: 10px;
}
.menuPrincipal{
    font-family: 'Poppins', sans-serif;;
}

.logoWh {
    margin-left: 80px;
}

.menuPrincipal a{
    padding: 0em 2em;
	text-decoration: none;
    color: #FFFFFF; 
    font-weight: 400;
}

.menuPrincipal button{
    padding: 0em 2em;
	text-decoration: none;
}

.menuPrincipal button:hover{
    color: #BE0F30;
	border-bottom: solid 2px #BE0F30;
}

.menuPrincipal a:hover{
	color: #BE0F30;
	border-bottom: solid 2px #BE0F30;
}

/* Estilos del contenido de la pagina */

.eBike,
.eScooter {
    position: relative; 
    padding: 0px;
    margin: 0px;
}

.eBike img,
.eScooter img {
    width: 100%;
    height: 500px;
}

.eBike a, .eScooter a{
    position: absolute;
    bottom: 65px; /* Ajusta según sea necesario para la posición vertical */
    left: 110px; /* Ajusta según sea necesario para la posición horizontal */
    color: #FFFFFF; 
    font-family: 'Anek Latin', sans-serif;
    margin: 0;
    font-weight: 1000;
    font-size: 75px;
    background: rgba(193, 189, 189, 0.17);
    border-radius: 10px;
    text-decoration: none;
}

.eBike a:hover, .eScooter a:hover{
    color: #BE0F30;
	border-bottom: solid 2px #BE0F30;
}


/*Estilos del Pie de Pagina*/

.piePag {
    background: black;
    display: flex;
    height: 250px;
    align-items: center;
    margin-top: 0px;
}

.piePag a{
    display: flex;
    margin-left: 150px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    
}

.piePag img{
    height: 100px;
    margin-left: 80px;
}

.piePag h4{
    color: #FFFFFF;
    display: flex;
    margin-left: 150px;
    font-family: 'Poppins', sans-serif;
}

.piePag i{
    display: flex;
    padding-bottom: 6px;
    padding-right: 10px;
    margin-left: 0px;
}

