@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&family=Poppins:wght@100;400;500;800&display=swap');

*{
    margin: 0;
}

.cabeceraPrincipal {
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    padding: 10px;
}
.menuPrincipal{
    font-family: 'Poppins', sans-serif;;
}

.logoWh {
    margin-left: 80px;
}

.menuPrincipal a{
    padding: 0em 2em;
	text-decoration: none;
    color: #FFFFFF; 
    font-weight: 400;
}

.menuPrincipal button{
    padding: 0em 2em;
	text-decoration: none;
}

.menuPrincipal button:hover{
    color: #BE0F30;
	border-bottom: solid 2px #BE0F30;
}

.menuPrincipal a:hover{
	color: #BE0F30;
	border-bottom: solid 2px #BE0F30;
}

.info1 {
    margin-left: 80px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

p{
    margin-left: 30px;
    margin-right: 80px;
    font-size: 30px;
    font-family: 'Anek Latin', sans-serif;
}

h3{
    margin-left: 30px;
    font-size: 40px;
    font-family: 'Anek Latin', sans-serif;
    padding-bottom: 15px;
}

.info2{
    text-align: center;
    background: #C5A76A;
    height: 740px;
    margin-top: 30px;
}

.info2 img{
    border-radius: 50px;
    height: 450px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 800px;
    padding-top: 25px;
}

.info2 h3{
    padding-top: 40px;
}

.info2 p{
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
}

.piePag {
    background: black;
    display: flex;
    height: 250px;
    align-items: center;
}

.piePag a{
    display: flex;
    margin-left: 150px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    
}

.piePag img{
    height: 100px;
    margin-left: 80px;
}

.piePag h4{
    color: #FFFFFF;
    display: flex;
    margin-left: 150px;
    font-family: 'Poppins', sans-serif;
}

.piePag i{
    display: flex;
    padding-bottom: 6px;
    padding-right: 10px;
    margin-left: 0px;
}

