@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@300&family=Inter&family=Roboto&display=swap');

body {
    background-color: #D9D9D9;
    font-family: 'Inter', sans-serif;
}

.loginContainer {
    background-color: #282828;
    display: flex;
    border-radius: 15px;
    height: 770px;
    box-shadow: 0 16px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 80%;
    margin-left: 150px;
}

.loginContainer img {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    flex: 1;
}

.registro {
    margin: 15px 65px;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.registro h2 {
    font-family: 'Anek Tamil', sans-serif;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    line-height: 0.2;
    margin-bottom: 10px;
}

.registro h3 {
    font-family: 'Anek Tamil', sans-serif;
    color: #BE0F30;
    font-size: 20px;
    line-height: 0.2;
    margin-bottom: 50px;
}

.input{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%; /* Ajuste: Ocupa el ancho completo del contenedor */
}

.input label {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin-bottom: 5px;
}

.input input, .input select {
    background-color: #D9D9D9;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s ease;
    border: 0;
    width: calc(100% - 20px); /* Ajuste: Resta 20px para dejar espacio en ambos lados */
}

.input input:focus, .input option:hover {
    border: 2px solid #BE0F30;
}

.boton button {
    background-color: #BE0F30;
    padding: 8px 20px;
    font-family: 'Anek Tamil', sans-serif;
    color: #000;
    font-size: 20px;
    font-weight: 900;
    border-radius: 30px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 5px 170px;
}

button:hover {
    background-color: #94162d;
}

.login {
    font-family: 'Anek Tamil', sans-serif;
    display: flex;
    position: absolute;
    bottom: 0px;
    right: 30px;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
}

.login a {
    color: #BE0F30;
    padding-left: 3px;
}

.login a:hover {
    transition: .4s;
}
